@import "unishop.shop.min.scss";

/* byVaseeeeeeeeeeeeek */

ul, li {
  margin: 0;
  padding: 0;
  list-style: 0;
}

article, aside, footer, header, nav, section {
  display: block
}

.jq-selectbox, .checked-list, input[type=email], input[type=number], input[type=password], input[type=phone], input[type=search], input[type=tel], input[type=text], select, textarea {
  width: 100%;
  box-sizing: border-box;
  outline: none;
  display: inline-block;
  height: 30px;
  line-height: 30px
}


.jq-selectbox, select {
  outline: none;
  cursor: pointer;
  background: #fff
}

.jq-selectbox.disabled, .checked-list.disabled, input[type=email]:disabled, input[type=number]:disabled, input[type=password]:disabled, input[type=search]:disabled, input[type=text]:disabled, select:disabled, textarea:disabled {
  background: #f5f5f5;
  color: #c9c9c9
}

.style-check {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 5px;
}

label {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}

/* font */
.fa-icon {
  font: normal normal normal 16px/1 FontAwesome;
  align-items: center;
}

.fa-icon-before:before {
  font: normal normal normal 16px/1 FontAwesome;
  align-items: center;
}

.container {
  margin: 0 auto;
  max-width: 1400px;
  min-width: 300px;
  padding: 0 10px;
  width: 100%;
}

@media (max-width: 1460px) {
  .container {
    width: initial;
  }
}

.head_info-massage {
  .head_info-massage__wrap {
    padding: 10px 0;
    position: relative;
  }

  .head_info-massage__content {
    display: flex;
    padding-right: 40px;
  }

  .head_info-massage__image-block {
    width: 50px;
    margin-right: 10px;
    display: flex;
    align-items: center;
  }

  .head_info-massage__close {
    position: absolute;
    right: 0;
    top: 20px;
    font-size: 40px;
  }
}


.header-top--links {
  .container {
    display: flex;
    justify-content: space-between;
  }

  .header-top_menu {
    flex: 1;
    margin: 0 !important;
  }

  .header-top_menu-btn {
    display: none;
    cursor: pointer;
    vertical-align: middle
  }

  .header-top_menu-btn:before {
    font-size: 30px;
    content: "\f0c9"
  }

  .header-top_menu-btn.show:before {
    content: "\f00d"
  }


  .header-top_nav > ul > li {
    display: inline-block;
    margin: 0 20px 0 0;
    position: relative;
    font-size: 14px
  }

  .header-top_nav > ul > li > .link, .header-top_nav > ul > li > a {
    text-decoration: none;
    border-bottom: 1px solid
  }

  .header-top_nav > ul > li.hide {
    display: none
  }

  .header-top_nav-sub {
    position: absolute;
    display: none;
    width: 200px;
    left: 50%;
    margin: 0 0 0 -100px;
    z-index: 110
  }

  .header-top_nav > ul > li:last-child .header-top_nav-sub {
    left: auto;
    right: 0;
    margin: 0
  }

  .header-top_nav-sub > ul {
    background: #fff;
    text-align: left;
    border-top-style: solid;
    border-top-width: 3px;
    margin: 5px 0 0;
    font-size: 14px;
    position: relative;
    white-space: normal;
    line-height: 15px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2)
  }

  .header-top_nav-sub > ul:before {
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: "";
    position: absolute;
    top: -8px;
    left: 50%;
    margin: 0 0 0 -3px
  }

  .header-top_nav > ul > li:last-child .header-top_nav-sub > ul:before {
    right: 30px;
    left: auto
  }

  .header-top_nav-sub > ul > li {
    padding: 8px;
    border-bottom: 1px solid #ebebeb
  }

  .header-top_nav-sub > ul > li:last-child {
    border-bottom: none
  }

  .header-top_nav-sub > ul > li a {
    text-decoration: none
  }

  .header-top_nav-sub .header-top_nav-sub, .nav-caret {
    display: none
  }

  .header-top--right {
    display: flex;
  }

  .header_currency, .header_lang {
    margin-left: 30px;
  }
}

@media (max-width: 700px) {
  header-top_menu {
    .header-top_menu-btn {
      display: inline-block
    }

    .header-top_nav {
      display: none
    }

    .header-top_nav.show {
      display: block
    }

    .header-top_nav > ul > li, .header-top_nav > ul > li.hide {
      display: block;
      padding: 0 10px;
      margin: 0;
      border-bottom: 1px solid #ebebeb;
      position: relative
    }

    .header-top_nav > ul > li > a {
      border-bottom: none;
      display: block;
      height: 29px;
      margin: 0 30px 0 0
    }

    .header-top_nav > ul > li.header-top_nav-else {
      display: none
    }

    .top-nav-info.show {
      display: block
    }

    .header-top_nav {
      margin: 0 -10px;
      background: #fff;
      border-bottom: 1px solid #ebebeb
    }

    .cat-menu__item.open > .cat-submenu-wrap, .header-top_nav > ul > li.open .header-top_nav-sub, .nav-caret {
      display: block
    }

    .header-top_nav-sub {
      position: static;
      margin: 0 0 0 20px;
      width: auto
    }

    .header-top_nav-sub .top-border-color {
      border: none
    }

    .header-top_nav-sub > ul {
      box-shadow: none;
      margin: 0
    }

    .header-top_nav-sub > ul:before {
      display: none
    }

    .header-top_nav-sub > ul > li {
      border-bottom: none
    }
  }
}


.product_print {
  order: 2;
  margin-left: auto;
}

.product_page {

  .product_name {
    order: 1;
  }

  .product_action-btn {
    margin-left: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .product_action-btn .product-action {
    margin: 0 0 0 15px
  }

  .product-price-saving {
    background: #ea0010;
    color: #fff;
    line-height: 21px;
    margin: 0 5px 0 0;
    border-radius: 2px
  }

  .product-discount, .product-price-saving {
    font-size: 12px;
    display: inline-block;
    height: 21px;
    padding: 0 7px;
    vertical-align: middle
  }

  .product-page_main {
    display: flex;
    flex-wrap: wrap;
  }

  .previews_gallery, .product-page_main-left, .product-page_main-right {
    padding-top: 20px;
  }

  .previews_gallery {
    flex: 0 1 100px;
  }

  .image-preview-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 15px 15px 15px;
  }

  .product-page_main-left {
    flex: 1 1 calc(55% - 100px);
    overflow: hidden;
    position: relative;
  }

  .product-page_main-right {
    flex: 1 1 calc(45%);
  }

  .image-preview a {
    display: inline-flex;
  }

  .image-preview {
    display: inline-flex;
    margin-bottom: 10px;
  }

  .image-preview--video a {
    width: 68px;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ebebeb;
    text-decoration: none;
  }

  .image-preview--video i {
    font-size: 30px;
  }

  .product_action, .product_action-desc {
    padding: 0 0 0 15px
  }

}

@media print {
  .product_action-btn {
    display: none
  }
}

@media (max-width: 825px) {
  .product_page {
    .previews_gallery {
      flex: 1 1 100%;
    }

    .product-page_main-left {
      flex: 1 1 100%;
    }

    .product-page_main-right {
      flex: 1 1 calc(100%);
    }

    .image-preview {
      display: inline-flex;
      margin: 0px 5px;
    }

    .product_action, .product_action-desc {
      padding: 0 0 0 0;
    }

    .image-preview-list {
      padding-left: 0;
    }

    .product_action, .product_action-desc {
      padding: 0;
    }
  }
}

@media (max-width: 600px) {
  .product_page {
    .product_action-btn {
      margin-left: initial;
    }

    .product-card_discounts, .product_action-btn, .product_nav, .product_rating {
      margin: 0 15px 10px 0;
      display: inline-block
    }

    .product_action-btn .product-action {
      margin: 0 15px 0 0
    }
  }
}

.product_cross-products {
  .product_cross-title__outer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
  }

  .product_cross__direction .owl-next, .product_cross__direction .owl-next:after, .product_cross__direction .owl-prev, .product_cross__direction .owl-prev:after {
    position: static;
    font-size: 14px
  }

  .product_cross__carousel .products-grid-outer {
    white-space: nowrap;
    overflow: hidden;
  }

  .owl-carousel {
    display: flex !important;
    padding: 15px 0;
  }
}

.owl-carousel {
  display: flex;
  overflow: hidden;
  margin: 0 auto;
}

@media (min-width: 1500px) {
  .product_cross-products .owl-carousel {
    width: 1400px;
    overflow: hidden;
    margin: 0 auto;
  }
}

.product_cross__direction .owl-next, .product_cross__direction .owl-prev,
.home-products__direction .owl-next, .home-products__direction .owl-prev {
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  box-shadow: 0 1px 8px rgb(0 0 0 / 6%), 0 2px 4px rgb(0 0 0 / 12%);
}

.home-products__direction, .product_cross__direction {
  display: flex;
  justify-content: space-between;
  position: absolute;
  z-index: 1;
  width: calc(100% - 32px);
  padding: 0px 16px;
  top: calc(50% - 12px);
}

.owl-next:after, .owl-prev:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  height: 14px
}

.owl-carousel .owl-stage-outer {
  position: relative;
  -webkit-transform: translateZ(0);
}


.product-action.add-to-favorite {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-action.add-to-favorite .fi-rr-heart {
  font-size: 13px;
  display: flex;
  align-items: center;
  vertical-align: middle;
  line-height: 1;
  height: 30px;
}

.owl-stage {
  display: flex;
}

@media (min-width: 1500px) {
  .js-owl-carousel-product .products-grid-outer {
    width: 1450px;
    margin-left: -25px;
  }
}

.products-tile .owl-carousel .owl-item {
  display: flex;
  width: 200px !important;
}

.owl-carousel .owl-item .Product-grid {
  width: 100% !important;
  margin-right: 0;
}

.owl-carousel .Product-grid {
  display: flex;
  flex: initial;
  width: 200px !important;
  min-width: initial !important;
  flex-direction: column;
  margin-right: 15px;
}

.owl-carousel .Product-grid > a, .owl-carousel .Product-grid > form {
  width: 200px !important;
}

.owl-carousel .Product-grid .Product-grid_img {
  padding: 0 !important;
}

.owl-carousel .Product-grid_img {
  display: block;
  text-align: center;
  height: 200px;
  line-height: 200px;
  position: relative;
  padding: 10px 10px 0
}

.owl-carousel .Product-grid form {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  max-width: 100%;
}

@media (max-width: 1249px) {
  .owl-carousel .Product-grid {
    min-width: 25%;
  }
}

@media (max-width: 999px) {
  .owl-carousel .Product-grid {
    min-width: 33.33333333%;
  }
}

@media (max-width: 699px) {
  .owl-carousel .Product-grid {
    min-width: 50%;
  }
}

@media (max-width: 449px) {
  .owl-carousel .Product-grid {
    min-width: 100%;
  }
}

.products-tile {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.Product-grid_bottom {
  padding: 10px;
  height: 48px;
  border-top: 1px solid transparent;
  margin-top: auto;
}

.Product-grid {
  background: #fff;
  position: relative;
  box-sizing: border-box;
}

.Product-grid_img {
  display: block;
  text-align: center;
  height: 260px;
  line-height: 260px;
  position: relative;
  padding: 10px 10px 0
}

.touch .Product-grid_img {
  padding: 20px 0;
  height: 260px;
  line-height: 260px
}

.products-grid-outer .Product-grid.-three, .products-tile-outer .Product-grid.-three {
  width: 33.3333333333%;
}

.products-grid-outer .Product-grid.-four, .products-tile-outer .Product-grid.-four {
  width: 25%;
}

.products-grid-outer .Product-grid.-five, .products-tile-outer .Product-grid.-five {
  width: 20%;
}

.Product-grid_img > img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle
}

.touch .Product-grid_img > img {
  max-width: 100%;
  max-height: 100%
}

@media (max-width: 1150px) {
  .products-grid-outer .Product-grid.-three,
  .products-grid-outer .Product-grid.-four,
  .products-grid-outer .Product-grid.-five,
  .products-tile-outer .Product-grid.-three,
  .products-tile-outer .Product-grid.-four,
  .products-tileouter .Product-grid.-five {
    width: 33.3333333333%;
  }
}

@media (max-width: 750px) {
  .products-grid-outer .Product-grid.-three,
  .products-grid-outer .Product-grid.-four,
  .products-grid-outer .Product-grid.-five,
  .products-tile-outer .Product-grid.-three,
  .products-tile-outer .Product-grid.-four,
  .products-tileouter .Product-grid.-five {
    width: 50%;
  }
}

@media (max-width: 520px) {
  .products-grid-outer .Product-grid.-three,
  .products-grid-outer .Product-grid.-four,
  .products-grid-outer .Product-grid.-five,
  .products-tile-outer .Product-grid.-three,
  .products-tile-outer .Product-grid.-four,
  .products-tileouter .Product-grid.-five {
    width: 100%;
  }
}

.Product-grid_name {
  white-space: normal;
}

.Product-grid .fa-heart, .Product-grid .fa-files-o {
  font-size: 14px;
}

.Product-stock-out {
  display: inline-block;
  background: #ebebed;
  height: 32px;
  line-height: 32px;
  border-radius: 5px;
  color: #afafaf;
  padding: 0 10px;
  font-size: 12px;
}

.header__cart-icon .icon {
  font-size: 31px
}

.header__cart {
  padding-left: 24px;
}

.Nav__horizontal--list {
  list-style: none;
  display: flex;
  overflow: hidden;
  padding-bottom: 10px;
}

.Nav__horizontal--list {
  &.-Between {
    justify-content: space-between;
  }

  .Nav__horizontal--link {
    text-decoration: none;
    text-transform: capitalize;
  }

  &:not(.-Beetwen) &:not(:last-child) {
    margin-right: 20px
  }
}

.homepage-categories {
  display: flex;
  justify-content: center;
  width: 100%;
}

.wrap-beetwen {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .promos-tile {
    margin: 24px 0 0;
    font-size: 0
  }

  a.promos-tile__item {
    width: 23%;
    box-sizing: border-box;
    border-radius: 8px;
    background: #fff;
    display: inline-block;
    vertical-align: top;
    margin: 0 0 24px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    text-align: center;
    text-decoration: none;
    color: #fff;
    line-height: 0
  }

  .promos-tile__item--img-bg {
    height: 250px
  }

  &.promo-col3 .promos-tile__item, &.promo-col3 a.promos-tile__item {
    width: 32%
  }

  &.promo-col2 .promos-tile__item, &.promo-col2 a.promos-tile__item {
    width: 49% !important
  }

  &.promo-col1 .promos-tile__item, &.promo-col1 .promos-tile__item {
    width: 400px !important
  }
}

@media (max-width: 1000px) {
  .promos-tile__item, a.promos-tile__item {
    width: 31%
  }
}

@media (max-width: 800px) {
  .promo-col3 .promos-tile__item, .promo-col3 a.promos-tile__item {
    width: 48%
  }
}

@media (max-width: 500px) {
  .promo-col1 .promos-tile__item, .promo-col2 .promos-tile__item, .promo-col2 a.promos-tile__item, .promos-tile__item, a.promo-col1 .promos-tile__item, a.promos-tile__item {
    width: 100% !important;
    margin-right: 0 !important;
    margin-left: 0 !important
  }
}


.Product-grid_cart .button {
  color: #4169e1;
  background: #fff;
}

.order-wrap {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  & > .order-col {
    width: 100%;
  }

  .section-head {
    padding: 20px 0px;
  }

  .wa-product {
    padding: 15px 0 !important;
    border: 0 !important;
  }
}

@media (min-width: 1000px) {
  .order-wrap {
    & > .order-col {
      width: calc(50% - 15px);
    }

    .order-col--right {
      margin-left: 15px;
    }

    .order-col--left {
      margin-right: 15px;
    }
  }
}

.wa-slide-wrapper {
  border: 0 !important;
}

i.wa-icon.arrow-left {
  top: 40px;
}

.wa-order-cart-wrapper .wa-product .wa-service > * {
  margin-left: 0 !important;
  padding-left: 0 !important;
  display: flex !important;
  align-items: center;
}

.style-check, .jq-checkbox, .jq-radio, .radio-styler {
  width: 10px;
  height: 10px;
  border: 1px solid #d6d1d1;
  padding: 1px;
  cursor: pointer;
  position: relative;
  display: inline-flex;
}

.wa-order-cart-wrapper .wa-products .wa-product .wa-details-section .wa-services .wa-service .wa-label .wa-field {
  position: static !important;
  margin-right: 5px;
  display: inline-flex;
  align-items: center;
}


.wa-cart-body .wa-services select {
  height: 25px;
}

.wa-delivery-types-section .wa-types-list .wa-type-wrapper.is-active .wa-name, .wa-step-payment-section .wa-methods-list.wide .wa-method-wrapper.is-active .wa-payment-name {
  font-weight: 700
}

.wa-cart-body input, .wa-cart-body select {
  width: auto
}

.wa-order-form-wrapper .wa-field-date {
  margin-right: 10px
}

.wa-order-form-wrapper .wa-plugin-fields-wrapper > .wa-body input[type=text]:not(.wa-input) {
  padding: 0 5px !important;
  font-size: 12px !important;
  line-height: 1 !important;
  margin-right: 0 !important
}


.wa-order-form-wrapper .wa-step-confirm-section {
  padding: 30px 0 !important
}

.cart-price-total-text {
  margin: 0 10px 0 0
}

.cart-price-total-btn {
  margin: 10px 0 0
}

.cart-el_services > div:not(:last-child) {
  margin-bottom: 5px;
}

.checked-list_toggle {
  position: relative;
  padding: 0 15px;
  cursor: pointer
}

.inp-search .btn {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 19px;
  cursor: pointer
}

.cart-price-total-box {
  padding: 15px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-price-total-btn {
  margin: 10px 0 0;
  display: flex;
  align-items: center;
}

.cart-price-total-box .quickorder-button-cart {
  padding: 0 15px;
  height: 30px;
  line-height: 30px;
  border-radius: 0;
  margin: 5px 10px 0;
}

@media (min-width: 1000px) {
  .fixed-panel {
    display: none !important;
  }
}

.MobileMenu-btn {
  line-height: 24px;
  font-size: 24px;
  height: 24px;
}

.sidear-mobile {
  form#filter-body {
    margin: 0;
    background: #fff;
    border-top: 1px solid #ebebeb;
    position: fixed;
    transition: 0.2s;
    left: -100%;
    top: 0;
    width: 100%;
    height: calc(100% - 45px);
    z-index: 100;
    overflow: auto;
    padding: 10px;
    box-sizing: border-box;
    &.show{
      left:0%;
    }
  }
}

.sab-cat-header {
  display: none;
}

.category{
  display: flex;
  .content {
    margin-left: 0;
  }
  .out_sidebars.-mr{
    margin-right:20px;
  }
}
