@font-face {
  font-family: 'free-font';
  src:  url('fonts/free-font.eot?4updjq');
  src:  url('fonts/free-font.eot?4updjq#iefix') format('embedded-opentype'),
    url('fonts/free-font.ttf?4updjq') format('truetype'),
    url('fonts/free-font.woff?4updjq') format('woff'),
    url('fonts/free-font.svg?4updjq#free-font') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="fi-rr-"], [class*=" fi-rr-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'free-font' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fi-rr-pen:before {
  content: "\ea66";
}
.fi-rr-phone:before {
  content: "\ea67";
}
.fi-rr-compare:before {
  content: "\ea68";
}
.fi-rr-chetyrecherta:before {
  content: "\e900";
}
.fi-rr-chetyrekvadrata:before {
  content: "\e901";
}
.fi-rr-search:before {
  content: "\e902";
}
.fi-rr-trikvadratatripryamo:before {
  content: "\e903";
}
.fi-rr-add:before {
  content: "\e904";
}
.fi-rr-alarm-clock:before {
  content: "\e905";
}
.fi-rr-align-center:before {
  content: "\e906";
}
.fi-rr-align-justify:before {
  content: "\e907";
}
.fi-rr-align-left:before {
  content: "\e908";
}
.fi-rr-align-right:before {
  content: "\e909";
}
.fi-rr-ambulance:before {
  content: "\e90a";
}
.fi-rr-angle-double-left:before {
  content: "\e90b";
}
.fi-rr-angle-double-right:before {
  content: "\e90c";
}
.fi-rr-angle-double-small-left:before {
  content: "\e90d";
}
.fi-rr-angle-double-small-right:before {
  content: "\e90e";
}
.fi-rr-angle-down:before {
  content: "\e90f";
}
.fi-rr-angle-left:before {
  content: "\e910";
}
.fi-rr-angle-right:before {
  content: "\e911";
}
.fi-rr-angle-small-down:before {
  content: "\e912";
}
.fi-rr-angle-small-left:before {
  content: "\e913";
}
.fi-rr-angle-small-right:before {
  content: "\e914";
}
.fi-rr-angle-small-up:before {
  content: "\e915";
}
.fi-rr-angle-up:before {
  content: "\e916";
}
.fi-rr-apps:before {
  content: "\e917";
}
.fi-rr-apps-add:before {
  content: "\e918";
}
.fi-rr-apps-delete:before {
  content: "\e919";
}
.fi-rr-apps-sort:before {
  content: "\e91a";
}
.fi-rr-archive:before {
  content: "\e91b";
}
.fi-rr-arrow-down:before {
  content: "\e91c";
}
.fi-rr-arrow-left:before {
  content: "\e91d";
}
.fi-rr-arrow-right:before {
  content: "\e91e";
}
.fi-rr-arrow-small-down:before {
  content: "\e91f";
}
.fi-rr-arrow-small-left:before {
  content: "\e920";
}
.fi-rr-arrow-small-right:before {
  content: "\e921";
}
.fi-rr-arrow-small-up:before {
  content: "\e922";
}
.fi-rr-arrow-up:before {
  content: "\e923";
}
.fi-rr-asterisk:before {
  content: "\e924";
}
.fi-rr-backpack:before {
  content: "\e925";
}
.fi-rr-badge:before {
  content: "\e926";
}
.fi-rr-ban:before {
  content: "\e927";
}
.fi-rr-band-aid:before {
  content: "\e928";
}
.fi-rr-bank:before {
  content: "\e929";
}
.fi-rr-barber-shop:before {
  content: "\e92a";
}
.fi-rr-baseball:before {
  content: "\e92b";
}
.fi-rr-basketball:before {
  content: "\e92c";
}
.fi-rr-bell:before {
  content: "\e92d";
}
.fi-rr-bell-ring:before {
  content: "\e92e";
}
.fi-rr-bell-school:before {
  content: "\e92f";
}
.fi-rr-billiard:before {
  content: "\e930";
}
.fi-rr-bold:before {
  content: "\e931";
}
.fi-rr-book:before {
  content: "\e932";
}
.fi-rr-book-alt:before {
  content: "\e933";
}
.fi-rr-bookmark:before {
  content: "\e934";
}
.fi-rr-bowling:before {
  content: "\e935";
}
.fi-rr-box:before {
  content: "\e936";
}
.fi-rr-box-alt:before {
  content: "\e937";
}
.fi-rr-briefcase:before {
  content: "\e938";
}
.fi-rr-broom:before {
  content: "\e939";
}
.fi-rr-browser:before {
  content: "\e93a";
}
.fi-rr-brush:before {
  content: "\e93b";
}
.fi-rr-bug:before {
  content: "\e93c";
}
.fi-rr-building:before {
  content: "\e93d";
}
.fi-rr-bulb:before {
  content: "\e93e";
}
.fi-rr-calculator:before {
  content: "\e93f";
}
.fi-rr-calendar:before {
  content: "\e940";
}
.fi-rr-camera:before {
  content: "\e941";
}
.fi-rr-caret-down:before {
  content: "\e942";
}
.fi-rr-caret-left:before {
  content: "\e943";
}
.fi-rr-caret-right:before {
  content: "\e944";
}
.fi-rr-caret-up:before {
  content: "\e945";
}
.fi-rr-check:before {
  content: "\e946";
}
.fi-rr-checkbox:before {
  content: "\e947";
}
.fi-rr-chess:before {
  content: "\e948";
}
.fi-rr-circle:before {
  content: "\e949";
}
.fi-rr-circle-small:before {
  content: "\e94a";
}
.fi-rr-clip:before {
  content: "\e94b";
}
.fi-rr-clock:before {
  content: "\e94c";
}
.fi-rr-cloud:before {
  content: "\e94d";
}
.fi-rr-cloud-check:before {
  content: "\e94e";
}
.fi-rr-cloud-disabled:before {
  content: "\e94f";
}
.fi-rr-cloud-download:before {
  content: "\e950";
}
.fi-rr-cloud-share:before {
  content: "\e951";
}
.fi-rr-cloud-upload:before {
  content: "\e952";
}
.fi-rr-comment:before {
  content: "\e953";
}
.fi-rr-comment-alt:before {
  content: "\e954";
}
.fi-rr-compress:before {
  content: "\e955";
}
.fi-rr-compress-alt:before {
  content: "\e956";
}
.fi-rr-computer:before {
  content: "\e957";
}
.fi-rr-cookie:before {
  content: "\e958";
}
.fi-rr-copy:before {
  content: "\e959";
}
.fi-rr-copy-alt:before {
  content: "\e95a";
}
.fi-rr-copyright:before {
  content: "\e95b";
}
.fi-rr-cream:before {
  content: "\e95c";
}
.fi-rr-credit-card:before {
  content: "\e95d";
}
.fi-rr-cross:before {
  content: "\e95e";
}
.fi-rr-cross-circle:before {
  content: "\e95f";
}
.fi-rr-cross-small:before {
  content: "\e960";
}
.fi-rr-crown:before {
  content: "\e961";
}
.fi-rr-cursor:before {
  content: "\e962";
}
.fi-rr-cursor-finger:before {
  content: "\e963";
}
.fi-rr-cursor-plus:before {
  content: "\e964";
}
.fi-rr-cursor-text:before {
  content: "\e965";
}
.fi-rr-cursor-text-alt:before {
  content: "\e966";
}
.fi-rr-dart:before {
  content: "\e967";
}
.fi-rr-dashboard:before {
  content: "\e968";
}
.fi-rr-database:before {
  content: "\e969";
}
.fi-rr-data-transfer:before {
  content: "\e96a";
}
.fi-rr-delete:before {
  content: "\e96b";
}
.fi-rr-diamond:before {
  content: "\e96c";
}
.fi-rr-dice:before {
  content: "\e96d";
}
.fi-rr-diploma:before {
  content: "\e96e";
}
.fi-rr-disk:before {
  content: "\e96f";
}
.fi-rr-doctor:before {
  content: "\e970";
}
.fi-rr-document:before {
  content: "\e971";
}
.fi-rr-document-signed:before {
  content: "\e972";
}
.fi-rr-dollar:before {
  content: "\e973";
}
.fi-rr-download:before {
  content: "\e974";
}
.fi-rr-duplicate:before {
  content: "\e975";
}
.fi-rr-earnings:before {
  content: "\e976";
}
.fi-rr-edit:before {
  content: "\e977";
}
.fi-rr-edit-alt:before {
  content: "\e978";
}
.fi-rr-e-learning:before {
  content: "\e979";
}
.fi-rr-envelope:before {
  content: "\e97a";
}
.fi-rr-euro:before {
  content: "\e97b";
}
.fi-rr-exclamation:before {
  content: "\e97c";
}
.fi-rr-expand:before {
  content: "\e97d";
}
.fi-rr-eye:before {
  content: "\e97e";
}
.fi-rr-eye-crossed:before {
  content: "\e97f";
}
.fi-rr-eye-dropper:before {
  content: "\e980";
}
.fi-rr-feather:before {
  content: "\e981";
}
.fi-rr-file:before {
  content: "\e982";
}
.fi-rr-file-add:before {
  content: "\e983";
}
.fi-rr-file-ai:before {
  content: "\e984";
}
.fi-rr-file-check:before {
  content: "\e985";
}
.fi-rr-file-delete:before {
  content: "\e986";
}
.fi-rr-file-eps:before {
  content: "\e987";
}
.fi-rr-file-gif:before {
  content: "\e988";
}
.fi-rr-file-music:before {
  content: "\e989";
}
.fi-rr-file-psd:before {
  content: "\e98a";
}
.fi-rr-fill:before {
  content: "\e98b";
}
.fi-rr-film:before {
  content: "\e98c";
}
.fi-rr-filter:before {
  content: "\e98d";
}
.fi-rr-fingerprint:before {
  content: "\e98e";
}
.fi-rr-flag:before {
  content: "\e98f";
}
.fi-rr-flame:before {
  content: "\e990";
}
.fi-rr-flip-horizontal:before {
  content: "\e991";
}
.fi-rr-folder:before {
  content: "\e992";
}
.fi-rr-folder-add:before {
  content: "\e993";
}
.fi-rr-following:before {
  content: "\e994";
}
.fi-rr-football:before {
  content: "\e995";
}
.fi-rr-form:before {
  content: "\e996";
}
.fi-rr-forward:before {
  content: "\e997";
}
.fi-rr-ftp:before {
  content: "\e998";
}
.fi-rr-gallery:before {
  content: "\e999";
}
.fi-rr-glasses:before {
  content: "\e99a";
}
.fi-rr-globe:before {
  content: "\e99b";
}
.fi-rr-globe-alt:before {
  content: "\e99c";
}
.fi-rr-golf:before {
  content: "\e99d";
}
.fi-rr-graduation-cap:before {
  content: "\e99e";
}
.fi-rr-graphic-tablet:before {
  content: "\e99f";
}
.fi-rr-grid:before {
  content: "\e9a0";
}
.fi-rr-grid-alt:before {
  content: "\e9a1";
}
.fi-rr-gym:before {
  content: "\e9a2";
}
.fi-rr-headphones:before {
  content: "\e9a3";
}
.fi-rr-headset:before {
  content: "\e9a4";
}
.fi-rr-heart:before {
  content: "\e9a5";
}
.fi-rr-home:before {
  content: "\e9a6";
}
.fi-rr-hourglass:before {
  content: "\e9a7";
}
.fi-rr-hourglass-end:before {
  content: "\e9a8";
}
.fi-rr-ice-skate:before {
  content: "\e9a9";
}
.fi-rr-id-badge:before {
  content: "\e9aa";
}
.fi-rr-inbox:before {
  content: "\e9ab";
}
.fi-rr-incognito:before {
  content: "\e9ac";
}
.fi-rr-indent:before {
  content: "\e9ad";
}
.fi-rr-infinity:before {
  content: "\e9ae";
}
.fi-rr-info:before {
  content: "\e9af";
}
.fi-rr-interactive:before {
  content: "\e9b0";
}
.fi-rr-interlining:before {
  content: "\e9b1";
}
.fi-rr-interrogation:before {
  content: "\e9b2";
}
.fi-rr-italic:before {
  content: "\e9b3";
}
.fi-rr-jpg:before {
  content: "\e9b4";
}
.fi-rr-key:before {
  content: "\e9b5";
}
.fi-rr-keyboard:before {
  content: "\e9b6";
}
.fi-rr-label:before {
  content: "\e9b7";
}
.fi-rr-laptop:before {
  content: "\e9b8";
}
.fi-rr-lasso:before {
  content: "\e9b9";
}
.fi-rr-layers:before {
  content: "\e9ba";
}
.fi-rr-layout-fluid:before {
  content: "\e9bb";
}
.fi-rr-letter-case:before {
  content: "\e9bc";
}
.fi-rr-life-ring:before {
  content: "\e9bd";
}
.fi-rr-line-width:before {
  content: "\e9be";
}
.fi-rr-link:before {
  content: "\e9bf";
}
.fi-rr-lipstick:before {
  content: "\e9c0";
}
.fi-rr-list:before {
  content: "\e9c1";
}
.fi-rr-list-check:before {
  content: "\e9c2";
}
.fi-rr-location-alt:before {
  content: "\e9c3";
}
.fi-rr-lock:before {
  content: "\e9c4";
}
.fi-rr-lock-alt:before {
  content: "\e9c5";
}
.fi-rr-magic-wand:before {
  content: "\e9c6";
}
.fi-rr-makeup-brush:before {
  content: "\e9c7";
}
.fi-rr-marker:before {
  content: "\e9c8";
}
.fi-rr-marker-time:before {
  content: "\e9c9";
}
.fi-rr-medicine:before {
  content: "\e9ca";
}
.fi-rr-megaphone:before {
  content: "\e9cb";
}
.fi-rr-menu-burger:before {
  content: "\e9cc";
}
.fi-rr-menu-dots:before {
  content: "\e9cd";
}
.fi-rr-menu-dots-vertical:before {
  content: "\e9ce";
}
.fi-rr-microphone:before {
  content: "\e9cf";
}
.fi-rr-minus:before {
  content: "\e9d0";
}
.fi-rr-minus-small:before {
  content: "\e9d1";
}
.fi-rr-mobile:before {
  content: "\e9d2";
}
.fi-rr-mode-landscape:before {
  content: "\e9d3";
}
.fi-rr-mode-portrait:before {
  content: "\e9d4";
}
.fi-rr-money:before {
  content: "\e9d5";
}
.fi-rr-mouse:before {
  content: "\e9d6";
}
.fi-rr-music:before {
  content: "\e9d7";
}
.fi-rr-music-alt:before {
  content: "\e9d8";
}
.fi-rr-network:before {
  content: "\e9d9";
}
.fi-rr-network-cloud:before {
  content: "\e9da";
}
.fi-rr-notebook:before {
  content: "\e9db";
}
.fi-rr-opacity:before {
  content: "\e9dc";
}
.fi-rr-package:before {
  content: "\e9dd";
}
.fi-rr-paint-brush:before {
  content: "\e9de";
}
.fi-rr-palette:before {
  content: "\e9df";
}
.fi-rr-paper-plane:before {
  content: "\e9e0";
}
.fi-rr-password:before {
  content: "\e9e1";
}
.fi-rr-pause:before {
  content: "\e9e2";
}
.fi-rr-pencil:before {
  content: "\e9e3";
}
.fi-rr-pharmacy:before {
  content: "\e9e4";
}
.fi-rr-physics:before {
  content: "\e9e5";
}
.fi-rr-picture:before {
  content: "\e9e6";
}
.fi-rr-ping-pong:before {
  content: "\e9e7";
}
.fi-rr-play:before {
  content: "\e9e8";
}
.fi-rr-play-alt:before {
  content: "\e9e9";
}
.fi-rr-playing-cards:before {
  content: "\e9ea";
}
.fi-rr-plus:before {
  content: "\e9eb";
}
.fi-rr-plus-small:before {
  content: "\e9ec";
}
.fi-rr-poker-chip:before {
  content: "\e9ed";
}
.fi-rr-portrait:before {
  content: "\e9ee";
}
.fi-rr-pound:before {
  content: "\e9ef";
}
.fi-rr-power:before {
  content: "\e9f0";
}
.fi-rr-presentation:before {
  content: "\e9f1";
}
.fi-rr-print:before {
  content: "\e9f2";
}
.fi-rr-protractor:before {
  content: "\e9f3";
}
.fi-rr-pulse:before {
  content: "\e9f4";
}
.fi-rr-quote-right:before {
  content: "\e9f5";
}
.fi-rr-rec:before {
  content: "\e9f6";
}
.fi-rr-receipt:before {
  content: "\e9f7";
}
.fi-rr-rectangle-horizontal:before {
  content: "\e9f8";
}
.fi-rr-rectangle-panoramic:before {
  content: "\e9f9";
}
.fi-rr-rectangle-vertical:before {
  content: "\e9fa";
}
.fi-rr-redo:before {
  content: "\e9fb";
}
.fi-rr-reflect:before {
  content: "\e9fc";
}
.fi-rr-refresh:before {
  content: "\e9fd";
}
.fi-rr-resize:before {
  content: "\e9fe";
}
.fi-rr-resources:before {
  content: "\e9ff";
}
.fi-rr-rewind:before {
  content: "\ea00";
}
.fi-rr-rocket:before {
  content: "\ea01";
}
.fi-rr-rotate-right:before {
  content: "\ea02";
}
.fi-rr-rugby:before {
  content: "\ea03";
}
.fi-rr-scale:before {
  content: "\ea04";
}
.fi-rr-school:before {
  content: "\ea05";
}
.fi-rr-school-bus:before {
  content: "\ea06";
}
.fi-rr-scissors:before {
  content: "\ea07";
}
.fi-rr-screen:before {
  content: "\ea08";
}
.fi-rr-search:before {
  content: "\ea09";
}
.fi-rr-search-alt:before {
  content: "\ea0a";
}
.fi-rr-settings:before {
  content: "\ea0b";
}
.fi-rr-settings-sliders:before {
  content: "\ea0c";
}
.fi-rr-share:before {
  content: "\ea0d";
}
.fi-rr-shield:before {
  content: "\ea0e";
}
.fi-rr-shield-check:before {
  content: "\ea0f";
}
.fi-rr-shield-exclamation:before {
  content: "\ea10";
}
.fi-rr-shield-interrogation:before {
  content: "\ea11";
}
.fi-rr-shield-plus:before {
  content: "\ea12";
}
.fi-rr-shop:before {
  content: "\ea13";
}
.fi-rr-shopping-bag:before {
  content: "\ea14";
}
.fi-rr-shopping-bag-add:before {
  content: "\ea15";
}
.fi-rr-shopping-cart:before {
  content: "\ea16";
}
.fi-rr-shopping-cart-add:before {
  content: "\ea17";
}
.fi-rr-shopping-cart-check:before {
  content: "\ea18";
}
.fi-rr-shuffle:before {
  content: "\ea19";
}
.fi-rr-signal-alt:before {
  content: "\ea1a";
}
.fi-rr-signal-alt-1:before {
  content: "\ea1b";
}
.fi-rr-signal-alt-2:before {
  content: "\ea1c";
}
.fi-rr-sign-in:before {
  content: "\ea1d";
}
.fi-rr-sign-out:before {
  content: "\ea1e";
}
.fi-rr-skateboard:before {
  content: "\ea1f";
}
.fi-rr-smartphone:before {
  content: "\ea20";
}
.fi-rr-soap:before {
  content: "\ea21";
}
.fi-rr-spa:before {
  content: "\ea22";
}
.fi-rr-speaker:before {
  content: "\ea23";
}
.fi-rr-spinner:before {
  content: "\ea24";
}
.fi-rr-spinner-alt:before {
  content: "\ea25";
}
.fi-rr-square:before {
  content: "\ea26";
}
.fi-rr-square-root:before {
  content: "\ea27";
}
.fi-rr-star:before {
  content: "\ea28";
}
.fi-rr-stats:before {
  content: "\ea29";
}
.fi-rr-stethoscope:before {
  content: "\ea2a";
}
.fi-rr-sticker:before {
  content: "\ea2b";
}
.fi-rr-stop:before {
  content: "\ea2c";
}
.fi-rr-stopwatch:before {
  content: "\ea2d";
}
.fi-rr-subtitles:before {
  content: "\ea2e";
}
.fi-rr-surfing:before {
  content: "\ea2f";
}
.fi-rr-sword:before {
  content: "\ea30";
}
.fi-rr-syringe:before {
  content: "\ea31";
}
.fi-rr-tablet:before {
  content: "\ea32";
}
.fi-rr-target:before {
  content: "\ea33";
}
.fi-rr-tennis:before {
  content: "\ea34";
}
.fi-rr-test:before {
  content: "\ea35";
}
.fi-rr-test-tube:before {
  content: "\ea36";
}
.fi-rr-text:before {
  content: "\ea37";
}
.fi-rr-text-check:before {
  content: "\ea38";
}
.fi-rr-thumbs-down:before {
  content: "\ea39";
}
.fi-rr-thumbs-up:before {
  content: "\ea3a";
}
.fi-rr-ticket:before {
  content: "\ea3b";
}
.fi-rr-time-add:before {
  content: "\ea3c";
}
.fi-rr-time-check:before {
  content: "\ea3d";
}
.fi-rr-time-delete:before {
  content: "\ea3e";
}
.fi-rr-time-fast:before {
  content: "\ea3f";
}
.fi-rr-time-forward:before {
  content: "\ea40";
}
.fi-rr-time-forward-sixty:before {
  content: "\ea41";
}
.fi-rr-time-forward-ten:before {
  content: "\ea42";
}
.fi-rr-time-half-past:before {
  content: "\ea43";
}
.fi-rr-time-oclock:before {
  content: "\ea44";
}
.fi-rr-time-past:before {
  content: "\ea45";
}
.fi-rr-time-quarter-past:before {
  content: "\ea46";
}
.fi-rr-time-quarter-to:before {
  content: "\ea47";
}
.fi-rr-time-twenty-four:before {
  content: "\ea48";
}
.fi-rr-tool-crop:before {
  content: "\ea49";
}
.fi-rr-tool-marquee:before {
  content: "\ea4a";
}
.fi-rr-tooth:before {
  content: "\ea4b";
}
.fi-rr-transform:before {
  content: "\ea4c";
}
.fi-rr-trash:before {
  content: "\ea4d";
}
.fi-rr-treatment:before {
  content: "\ea4e";
}
.fi-rr-trophy:before {
  content: "\ea4f";
}
.fi-rr-umbrella:before {
  content: "\ea50";
}
.fi-rr-underline:before {
  content: "\ea51";
}
.fi-rr-undo:before {
  content: "\ea52";
}
.fi-rr-unlock:before {
  content: "\ea53";
}
.fi-rr-upload:before {
  content: "\ea54";
}
.fi-rr-usb-drive:before {
  content: "\ea55";
}
.fi-rr-user:before {
  content: "\ea56";
}
.fi-rr-user-add:before {
  content: "\ea57";
}
.fi-rr-user-delete:before {
  content: "\ea58";
}
.fi-rr-user-remove:before {
  content: "\ea59";
}
.fi-rr-users:before {
  content: "\ea5a";
}
.fi-rr-user-time:before {
  content: "\ea5b";
}
.fi-rr-vector:before {
  content: "\ea5c";
}
.fi-rr-vector-alt:before {
  content: "\ea5d";
}
.fi-rr-video-camera:before {
  content: "\ea5e";
}
.fi-rr-volleyball:before {
  content: "\ea5f";
}
.fi-rr-volume:before {
  content: "\ea60";
}
.fi-rr-wifi-alt:before {
  content: "\ea61";
}
.fi-rr-world:before {
  content: "\ea62";
}
.fi-rr-yen:before {
  content: "\ea63";
}
.fi-rr-zoom-in:before {
  content: "\ea64";
}
.fi-rr-zoom-out:before {
  content: "\ea65";
}
