@import 'unishop.min.scss';

/* by Vaseeeeeeeeeeeeek */
ul, li {
  margin: 0;
  padding: 0;
  list-style: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

.jq-selectbox, .checked-list, input[type=email], input[type=number], input[type=password], input[type=phone], input[type=search], input[type=tel], input[type=text], select, textarea {
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  display: inline-block;
  height: 30px;
  line-height: 30px;
}

.jq-selectbox, select {
  outline: none;
  cursor: pointer;
  background: #fff;
}

.jq-selectbox.disabled, .checked-list.disabled, input[type=email]:disabled, input[type=number]:disabled, input[type=password]:disabled, input[type=search]:disabled, input[type=text]:disabled, select:disabled, textarea:disabled {
  background: #f5f5f5;
  color: #c9c9c9;
}

.button, .button-link, button, input[type=button], input[type=submit] {
  height: 30px;
  line-height: 30px;
  padding: 0 15px;
  outline: none;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  white-space: nowrap;
  display: inline-block;
  text-decoration: none;
  border: none;
  text-align: center;
}

.checkout-options li.selected, .comment-form, .box-hlighted, .add-review-form-fields, blockquote {
  border: 1px solid #ebebeb;
}

.style-check {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 5px;
}

/* font */
.fa-icon {
  font: normal normal normal 16px/1 FontAwesome;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.fa-icon-before:before {
  font: normal normal normal 18px/1 FontAwesome;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.container {
  margin: 0 auto;
  max-width: 1400px;
  min-width: 300px;
  padding: 0 10px;
}

@media (max-width: 1460px) {
  .container {
    width: initial;
  }
}

.inp-search .btn {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 19px;
  cursor: pointer
}

.head_info-massage {
  .head_info-massage__wrap {
    padding: 10px 0;
    position: relative;
  }

  .head_info-massage__content {
    display: flex;
    padding-right: 40px;
  }

  .head_info-massage__image-block {
    width: 50px;
    margin-right: 10px;
    display: flex;
    align-items: center;
  }

  .head_info-massage__close {
    position: absolute;
    right: 0;
    top: 20px;
    font-size: 40px;
  }
}

.category-menu .MobileMenu_nav-header {
  display: none;
}

.MobileMenu {
  line-height: 28px;

  .MobileMenu-btn {
    display: inline-flex;
  }

  .MobileMenu_nav-m {
    margin: 0;
    background: #fff;
    border-top: 1px solid #ebebeb;
    position: fixed;
    transition: 0.2s;
    left: -100%;
    top: 0;
    width: 100%;
    height: calc(100% - 48px);
    z-index: 100;
    overflow: auto;

    & > * {
      padding: 0 10px;
    }
  }

  .MobileMenu_nav-m.show {
    left: 0;
  }

  .MobileMenu_nav-m > ul > li {
    display: block;
    padding: 0 10px 0 0;
    border-bottom: 1px solid #ebebeb;
    position: relative;
  }

  .MobileMenu_nav-m > ul > li:last-child {
    border-bottom: none;
  }

  .MobileMenu_nav-m .nav-caret {
    display: block;
  }

  .MobileMenu_nav-m a {
    border-bottom: none;
    display: block;
    height: 28px;
    line-height: 28px;
    text-decoration: none;
    display: inline-flex;
  }

  .MobileMenu_nav-m-sub {
    margin: 0 0 0 20px;
    display: none;
  }

  .MobileMenu_nav-m > ul > li.open .MobileMenu_nav-m-sub {
    display: block;
  }

  .cat-menu__item.open .menu-subcategory {
    left: 0;
  }

  .cat-menu__item-title {
    padding: 0;
  }

  .menu-subcategory {
    margin: 0;
    background: #fff;
    border-top: 1px solid #ebebeb;
    position: fixed;
    left: -100%;
    top: 0;
    width: 100%;
    height: calc(100% - 60px);
    z-index: 100;
  }

  .fi-rr-angle-small-right {
    height: 28px;
    text-align: center;
    line-height: 28px;
    color: #333;
  }

  .MobileMenu_nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 28px;
    padding: 0 10px;

    .btn-back {
      display: inline-block;
    }

    .cat-title {
      font-size: 22px;
      padding: 10px 0;
    }
  }

  .subcat-menu__item a {
    padding: 0 0 0 10px;
  }

  .header_currency {
    margin-top: 20px;
  }

  .header_lang-el:not(.js-language) {
    font-weight: bold;
  }

  .currency_list {
    right: initial;
    left: 70px;
    bottom: 100%;
  }

  .currency_item.free-icon-after:after {
    transform: rotate(180deg);
  }

  h4 {
    margin: 10px 0;
  }

  .mob-menu-lk {
    display: flex;
    flex-direction: column;

    a {
      border-bottom: 1px solid #ebebeb;
    }
  }
}

.header-top--links {
  .container {
    display: flex;
    justify-content: space-between;
  }

  .header-top_menu {
    width: calc(100% - 327px);
    margin: 0 !important;
  }

  .header-top_menu-btn {
    display: none;
    cursor: pointer;
    vertical-align: middle
  }

  .header-top_menu-btn:before {
    font-size: 30px;
    content: "\f0c9"
  }

  .header-top_menu-btn.show:before {
    content: "\f00d"
  }


  .header-top_nav > ul > li {
    display: inline-block;
    margin: 0 20px 0 0;
    position: relative;
    font-size: 14px
  }

  .header-top_nav > ul > li > .link, .header-top_nav > ul > li > a {
    text-decoration: none;
    border-bottom: 1px solid
  }

  .header-top_nav > ul > li.hide {
    display: none
  }

  .header-top_nav-sub {
    position: absolute;
    display: none;
    width: 200px;
    left: 50%;
    margin: 0 0 0 -100px;
    z-index: 110
  }

  .header-top_nav > ul > li:last-child .header-top_nav-sub {
    left: auto;
    right: 0;
    margin: 0
  }

  .header-top_nav-sub > ul {
    background: #fff;
    text-align: left;
    border-top-style: solid;
    border-top-width: 3px;
    margin: 5px 0 0;
    font-size: 14px;
    position: relative;
    white-space: normal;
    line-height: 15px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2)
  }

  .header-top_nav-sub > ul:before {
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: "";
    position: absolute;
    top: -8px;
    left: 50%;
    margin: 0 0 0 -3px
  }

  .header-top_nav > ul > li:last-child .header-top_nav-sub > ul:before {
    right: 30px;
    left: auto
  }

  .header-top_nav-sub > ul > li {
    padding: 8px;
    border-bottom: 1px solid #ebebeb
  }

  .header-top_nav-sub > ul > li:last-child {
    border-bottom: none
  }

  .header-top_nav-sub > ul > li a {
    text-decoration: none
  }

  .header-top_nav-sub .header-top_nav-sub, .nav-caret {
    display: none
  }

  .header-top--right {
    display: flex;
    white-space: nowrap;
    width: 327px;
  }

  .header_currency, .header_lang {
    margin-left: 30px;
  }
}

@media (max-width: 700px) {
  .header-top--links {
    display: none;
  }
  header-top_menu {
    .header-top_menu-btn {
      display: inline-block
    }

    .header-top_nav {
      display: none
    }

    .header-top_nav.show {
      display: block
    }

    .header-top_nav > ul > li, .header-top_nav > ul > li.hide {
      display: block;
      padding: 0 10px;
      margin: 0;
      border-bottom: 1px solid #ebebeb;
      position: relative
    }

    .header-top_nav > ul > li > a {
      border-bottom: none;
      display: block;
      height: 29px;
      margin: 0 30px 0 0
    }

    .header-top_nav > ul > li.header-top_nav-else {
      display: none
    }

    .top-nav-info.show {
      display: block
    }

    .header-top_nav {
      margin: 0 -10px;
      background: #fff;
      border-bottom: 1px solid #ebebeb
    }

    .cat-menu__item.open > .cat-submenu-wrap, .header-top_nav > ul > li.open .header-top_nav-sub, .nav-caret {
      display: block
    }

    .header-top_nav-sub {
      position: static;
      margin: 0 0 0 20px;
      width: auto
    }

    .header-top_nav-sub .top-border-color {
      border: none
    }

    .header-top_nav-sub > ul {
      box-shadow: none;
      margin: 0
    }

    .header-top_nav-sub > ul:before {
      display: none
    }

    .header-top_nav-sub > ul > li {
      border-bottom: none
    }
  }
}

.header {
  background: #fff;
  display: flex;
  align-items: center;
  padding: 12px 0;
  margin: 0px 0 15px 0;
  box-shadow: 0 2px 3px 0 rgb(0 0 0 / 6%);

  .Nav-contact-info {
    margin-left: 30px;
    p:not(:last-child) {
      margin-bottom: 4px;
    }
  }

  p.Nav-contact-phone {
    white-space: nowrap;
    text-align: center;
    color:#101a3a;
    font-size:15px;
  }

  p.Nav-contact-callback {
    white-space: nowrap;
    text-align: center;
    margin-bottom: 0;
    color:#5a6c7d;
    border-bottom: 1px dashed;
    cursor: pointer;
    font-size: 13px;
    font-weight: 400;
    transition: .3s all;
  }

  & > .container {
    display: flex;
    justify-content: space-between;
    width: 100%;

    & > .Nav-search {
      display: none;
    }
  }

  .header--left {
    display: flex;
    align-items: center;
  }

  .header--right {
    flex: 1 1;
    text-align: right;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .Nav-contact-phone-btn {
    display: none;
  }

  .header_login-logout .icon {
    margin: 0 3px 0 0
  }

  .header_login-icon .icon {
    font-size: 42px;
  }

  .header_login-icon .userpic {
    height: 50px;
    width: 50px;
    border: 1px solid #ebebeb
  }

  .product-custom_icon .icon {
    display: inline-flex;
    font-size: 24px;
    color: #202020;
    line-height: 1;
    height: 29px;
  }

  .header__cart-icon {
    display: inline-flex;
    position: relative;
    height: 24px;

    .icon {
      display: inline-flex;
      font-size: 24px;
    }
  }
  .header__cart-content, .header__cart-icon {
    display: inline-block;
    vertical-align: top;
    font-size: 37px
  }


  .header__cart-content, .header__cart-content a {
    color: #5d5d5d
  }

  .header__cart-price-total {
    color: #000;
    font-weight: 700
  }

  .Nav-product-custom {
    display: flex;
    align-items: center;
  }

  .Nav-product-custom .product-custom_icon {
    color: #fff;
    img {
      width: 24px;
      height: 24px;
    }
  }

  .product-custom {
    line-height: 14px;
    position: relative;
    padding: 0 0 0 20px;
    display: inline-block
  }

  .product-custom--link, {
    display: flex;
    flex-direction: column;
    align-items: center;
    white-space: nowrap;
  }

  .product-custom--link > span {
    font-size: 12px;
  }

  .preview-cart.product-custom {
    display: none
  }

  .header-top--right {
    display: flex;
  }

  .header-top--right > div:not(:last-child) {
    margin-right: 20px;
  }
}
@media (max-width: 1024px) {
  .header {
    .container {
      flex-wrap: wrap;

      &>.Nav-search {
        display: block;
        margin-top: 10px;
      }
    }

    .header_login-icon .icon,
    .header_login-icon .userpic {
      display: none
    }

    .header_login {
      width: 90px
    }

    .header--right {
      & > .Nav-search {
        display: none;
      }
    }

    .header_address {
      width: calc(100% - 15% - 400px)
    }
  }
}

@media (max-width: 1000px) {
  .header {
    .Nav-product-custom > * {
      display: none
    }

    .Nav-contact-info {
      margin-left: 10px;
    }

    .Nav-product-custom .header__cart {
      margin-left: 10px;
      margin-right: 10px;
      display: block;
    }

    .product-custom {
      padding-left: 0;
    }

    .product-custom--link > span {
      display: none;
    }
  }
}

@media (max-width: 950px) {
  .header {
    text-align: center;

    .header_login {
      padding-right: 0;
      border-right: 0
    }

    .header_login {
      width: initial;
    }

    .header_login, .header_contacts {
      display: block;
      margin: 0;
      border: none;
      text-align: center;
      width: auto;
      padding: 0
    }

    .header_login-content {
      width: 100%;
      text-align: center
    }

    .header_login-logout, .header_login-sign, .header_callback, .header_phone {
      display: inline-block;
      margin: 0 10px
    }

    .header_login-icon {
      display: none
    }

    .header--left {
      margin-right: 10px;
    }

    .Nav-contact-info {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .Nav-contact-info > p {
      display: none;
      margin: 0;
      line-height: 1;
      font-weight: 600;
      color: #333333;
      padding: 0 0 0 40px;
    }

    .Nav-contact-phone-btn {
      display: block;
      font-size: 25px;
    }
  }
}

@media (max-width: 500px) {
  .header {
    .nav-cat {
      display: none;
    }

    .header--left {
      width: 140px;
    }
  }
  .Nav-product-custom .preview-cart .product-msg-added-wrap {
    left: auto;
    right: 10px
  }

  .preview-cart.product-custom {
    float: right
  }
}

@media (max-width: 500px) {
  .Nav-product-custom .preview-cart .product-msg-added-wrap {
    left: auto;
    right: 10px
  }

  .preview-cart.product-custom {
    float: right
  }
}

.Nav__Primary-outer {
  background: #fff;
  box-shadow: 0 2px 3px 0 rgb(0 0 0 / 6%);
  margin-bottom: 15px;
}
.fixed-panel.show {
  display: block
}

.fixed-panel .product-custom > a:hover .product-custom_title, .fixed-panel .product-custom_title, .fixed-panel .product-custom_total {
  color: #2b2b2b
}

.fixed-panel .product-msg-added-wrap {
  margin: 0 0 1px -90px;
  top: auto;
  bottom: 100%;
  left: 50%
}

.fixed-panel .product-added-msg {
  box-shadow: 0 2px 10px rgba(0, 0, 0, .3)
}

.fixed-panel .product-added-msg:after {
  border-top: 5px solid #fff;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-bottom: none;
  top: 100%;
  left: 50%;
  position: absolute
}

.fixed-panel {
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  right: 0;
  z-index: 110;
  background: #fff;
  border-top-width: 1px;
  border-top-style: solid;
  min-width: 300px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  .preview-cart.product-custom {
    display: inline-block
  }

  .product-custom {
    padding: 10px 10px;
  }
  .product-custom_icon{
    line-height: 1;
  }

  .product-custom_icon .icon {
    display: inline-flex;
    font-size: 24px;
    color: #202020;
    line-height: 1;
  }
  .product-custom a {
    font-size: 13px;
    line-height: 13px;
    display: block;
  }
}
@media (min-width: 1024px) {
  .fixed-panel {
    display: none !important;
  }
}

@media (max-width: 500px) {
  .fixed-panel .product-msg-added-wrap {
    margin-left: -58px;
    left: 0
  }

  .fixed-panel .product-added-msg:after {
    left: 20px
  }

  .fixed-panel .preview-cart .product-added-msg:after {
    right: 45px;
    left: auto
  }
}
.-Close {
  display: none!important;
}