body {
    background-color: #ffffff;
    color: #202020;
}
.bg-maincolor.Nav__Primary-outer {
    background: #fff;
    box-shadow: 0 2px 3px 0 rgb(0 0 0 / 6%);
}
input.Nav-inp-search {
    border-radius: 3px;
    border: 2px solid #4169E1;
}
.product-custom_icon .icon {
    color: #202020;
}
.product-custom_title {
    color: #202020;
}

.sb-wrap {
    border:0;
}
.content {
    border:0;
}
.nav-cat-btn {
    display: inline-block;
    line-height: 40px;
    height: 40px;
    padding: 0 15px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    color: #fff;
    white-space: nowrap;
    width: auto;
}
.cat-content {
    padding:0px 0px 0;
}
.cat-panel {
    padding: 10px 0px;
     border-top: 0; 
}
.checkout-options li.selected, .comment-form, .box-highlighted, .add-review-form-fields, blockquote {
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 1px 8px 0 rgb(0 0 0 / 6%), 0 2px 2px 0 rgb(0 0 0 / 12%);
}
.product-page_main-left {
    border-right:0;
}
.filter-el {
    border-bottom:0; 
    padding: 7px 0;
}
.filter-el_title {
    font-size: 15px;
    font-weight: 600;
}
.checked-list, .cart-coupon-form input {
    border: 1px solid #4169E1;
}
a.inline-link, .inline-link, .checked-list li.selected a, .checked-list li.selected, a:hover, .link:hover, a.selected, .selected > a, .link.selected, .sdСolor, .sdСolor > a, .checked-list, .checked-list a, .sdСolor > a:hover, a.sdСolor:hover, .jq-selectbox, .checked-list, .jq-selectbox__dropdown li:hover, .reviews-list .reviews-list .review:before, .comments ul ul:before, .style-check.checked:before, .jq-checkbox.checked:before, .radio-styler.checked:before, .jq-radio.checked:before, a.filter-option-color:before, .filter-el_title:after, .cat-views__el.selected, .button-link, button.button-link, input[type=button].button-link, input[type=submit].button-link, .sidebar-cats_el a:hover, .sidebar-cats li.selected > a, .checkout-options li.selected h3 {
    color:#4169E1;
}
.content-block {
    padding: 0;
}