/* onestep */

.custom-onestep .onestep-cart{
    display: inline-block;
    width: 100%;
}

.custom-onestep .onestep-cart input[name="coupon_code"]{
    width: auto;
    margin: 0 8px;
}

@media screen and (max-width: 500px){
    .custom-onestep .onestep-cart input[name="coupon_code"]{
        margin: 5px 0;
    }
}

.custom-onestep .onestep-cart .affiliate{
    float: none;
    padding: 0;
}

.custom-onestep .onestep-cart .checkout{
    box-shadow: none;
    margin: 20px 0 0;
}

.custom-onestep .onestep-cart .checkout .checkout-step-content{
    padding: 0;
}

.custom-onestep .onestep-cart .wa-form .wa-field .wa-value input[type="text"],
.custom-onestep .onestep-cart .wa-form .wa-field .wa-value input[type="email"],
.custom-onestep .onestep-cart .wa-form .wa-field .wa-value input[type="password"]{
    width: 100%;
    max-width: 100%;
}

@media screen and (max-width: 760px){
    .custom-onestep .onestep-cart .wa-form .wa-field .wa-value input[type="text"],
    .custom-onestep .onestep-cart .wa-form .wa-field .wa-value input[type="email"],
    .custom-onestep .onestep-cart .wa-form .wa-field .wa-value input[type="password"],
    .custom-onestep .onestep-cart .wa-form .wa-field .wa-value select{
        max-width: 100%;
    }
}

.onestep-cart .wa-form{
    max-width: 450px;
}

.custom-onestep .onestep-cart .wa-form .wa-field{
    margin: 0 0 25px;
}

.custom-onestep .onestep-cart .checkout ul.checkout-options{
    padding: 25px 0 0 0;
}

.custom-onestep .onestep-cart .checkout ul.checkout-options li .rate{
    padding: 20px 0 0;
}

.custom-onestep .onestep-cart .checkout ul.checkout-options li input[type="radio"]{
    position: static;
}

.custom-onestep .onestep-cart .checkout ul.checkout-options li p{
    width: 100%;
}

.custom-onestep .onestep-cart .checkout ul.checkout-options li{
    margin-bottom: 30px;
}

.custom-onestep .onestep-cart table.cart{
    border-top: 1px solid #ebebeb;
    margin: 0;
}

.custom-onestep .onestep-cart table.cart td,
.custom-onestep .onestep-cart table.cart th{
    border: none;
}

.custom-onestep .onestep-cart table.cart tr{
    border-bottom: 1px solid #ebebeb;
}

.custom-onestep .onestep-cart table.cart tr.no-border{
    border: none;
}

.custom-onestep .onestep-cart .services{
    border-bottom: none;
    margin: 0;
    padding: 0;
}

.custom-onestep .checkout-content[data-step-id="confirmation"]{
    padding: 10px 0;
}

/* onestep end */





/* checkoutone */

.custom-cartonestep .cartOS__cart{
    display: inline-block;
    width: 100%;
}



.custom-cartonestep input.cartOS__couponButton,
.custom-cartonestep .cartOS__button
{
    height: 37px;
    line-height: 37px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    padding: 0 10px;
}

.custom-cartonestep .cartOS__couponInput{
    display: inline-block;
    max-width: 200px;
}

.custom-cartonestep .cartOS__countMinus,
.custom-cartonestep .cartOS__countPlus{
    background: #e2e2e2;
    width: 30px;
    height: 37px;
    line-height: 37px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px 0 0 5px;
}

.custom-cartonestep .cartOS__countPlus {
    border-radius: 0 5px 5px 0;
}

.custom-cartonestep .cartOS__countCount{
    height: 37px;
}

.custom-cartonestep .cartOS__countCount input{
    border: 1px solid #e2e2e2;
    border-radius: 0;
    height: 37px;
    line-height: 37px;
}

.custom-cartonestep .cartOS__form .wa-form{
    max-width: 100%;
}

.custom-cartonestep .cartOS__form .wa-form .wa-field .wa-name{
    font-size: 14px;
    margin-top: 7px;
}

.custom-cartonestep .cartOS__form .wa-form .wa-field{
    margin-bottom: 25px;
}

.custom-cartonestep .cartOS__form .wa-form .wa-field .wa-value p input{
    margin-bottom: 10px;
}

.custom-cartonestep .cartOS__form .wa-form .wa-field .wa-value{
    margin-left: 150px;
}

.custom-cartonestep .jq-radio,
.custom-cartonestep .jq-checkbox{
    box-sizing: content-box;;
}

.custom-cartonestep .cartOS__form select{
    border-color: #d1d1d1;
}

/* checkoutone end */


